<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add products</title>
</head>
<body>
    <div class="container">
        <form action="/productsCreate" method="POST">
            <input type="text" placeholder="name" name="name">
            <input type="text" placeholder="avatar" name="avatar">
            <input type="text" placeholder="gender" name="gender">
            <input type="text" placeholder="category" name="category">
            <input type="text" placeholder="price" name="price">
            <input type="text" placeholder="color" name="color">
            <input type="text" placeholder="size" name="size">
            <input type="text" placeholder="event" name="event">
            <input type="text" placeholder="eventTime" name="eventTime">
            <input type="text" placeholder="sale" name="sale">
            <input type="text" placeholder="quantity" name="quantity">

            <input type="submit" value="Add Products">

        </form>
    </div>
</body>
</html>